body {
	font-family: 'Open Sans', sans-serif;
}

#formula-container {
	cursor: pointer;
}

#page-container {
	width: 962px;
	position: relative;
	margin: 50px auto 0;
}

.inactive {
	display: none;
}
.show {
	display: inline;
}

img.github-link {
	position: absolute;
	top: 0;
	right: 0;
}

h1 {
	font-size: 32px;
	line-height: 48px;
	font-weight: 300;
}

h2 {
	font-size: 24px;
	font-weight: 300;
}

h3 {
	font-size: 20px;
	line-height: 36px;
	font-weight: 300;
}

#app {
	position: relative;
}

#mode-select {
	margin-bottom: 8px;
}

#model-link {
	position: absolute;
	top: 0;
	right: 0;
}

#app-body {
	border: 1px solid #ddd;
	border-radius: 4px;
	width: 960px;
	height: 540px;
	position: relative;
	overflow: hidden;
}

#app-body .panel {
	width: 300px;
	height: 100%;
	padding: 20px 19px 20px 20px;
	background-color: #f5f5f5;
	position: absolute;
	left: 0;
}

#app-body .panel .tab-pane {
	height: 100%;
	position: relative;
	overflow: hidden;
}

div.var-count {
	margin-bottom: 15px;
}

table.propvars {
	position: relative;
	top: -28px;
	left: 70px;
	margin-bottom: -28px;
}

table.propvars td.var-name {
	padding: 0 6px;
}

.eval-input {
	margin-bottom: 10px;
}

.eval-input input {
	width: 100%;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	border: none;
	padding: 10px;
}

.eval-output .alert {
	padding-right: 14px;
	margin-bottom: 10px;
}

.eval-output .alert > div {
	overflow-y: auto;
	max-height: 56px;
}

.eval-output .alert > div > div {
	overflow: hidden;
}

.eval-output .symbol {
	width: 20px;
	font-weight: bold;
	display: inline-block;
}

.instructions {
	position: absolute;
	bottom: 0;
	padding-top: 20px;
	margin-top: 20px;
}

.instructions > ul {
	margin-bottom: 0;
}

.instructions > ul > li:not(:last-child) {
	margin-bottom: 8px;
}

#app-body .graph {
	width: 640px;
	height: 540px;
	position: absolute;
	left: 320px;
}


#radio-subformulae {
	margin: 8px 0;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s;
	padding: 6px 10px;
	border-radius: 6px;
}


#app-body .current-formula {
	position: absolute;
	top: 0;
	left: 300px;
	background-color: #f5f5f5;
	padding: 10px;
}

svg {
	background-color: #FFF;
	border-radius: 0 3px 3px 0;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg.edit:not(.active):not(.ctrl) {
	cursor: crosshair;
}

path.link {
	fill: none;
	stroke-width: 3px;
	cursor: default;
}

.agent-a {
	stroke: orangered;
	fill: orangered;
}
.agent-b {
	stroke: orange;
	fill: orange;
}
.agent-c {
	stroke: purple;
	fill: purple;
}
.agent-d {
	stroke: yellowgreen;
	fill: yellowgreen;
}
.agent-e {
	stroke: turquoise;
	fill: turquoise;
}

.agent-g {
	stroke: brown;
	fill: brown;
}

.agent-h {
	stroke: gray;
	fill: gray;
}

svg.edit:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

svg.edit circle.node {
	cursor: pointer;
	stroke-width: 0;
}

g.waiting circle.node {
	fill: #c7c7c7 !important;
	stroke-width: 0;
}

g.true circle.node {
	fill: #98df8a !important;
	stroke-width: 0;
}

g.false circle.node {
	fill: #ff9896 !important;
	stroke-width: 0;
}

text {
	font-size: 14px;
	pointer-events: none;
}

.agent-text {
	stroke: #FFF;
	paint-order: stroke;
	stroke-width: 2px;
	font: italic 6px sans-serif;
}

text.shadow {
	stroke: #FFF;
	stroke-width: 5px;
}

text.id {
	text-anchor: middle;
	font-weight: bold;
}

.text-section {
	width: 650px;
	line-height: 1.6;
	margin: 0 auto;
}

section h2 {
	font-weight: bold;
	margin-top: 60px;
}

section h3 {
	margin-top: 40px;
}

.table-striped tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}

.table-striped tr:last-child td:last-child {
	border-bottom-right-radius: 4px;
}

.connective-table th,
.connective-table td {
	width: 25%;
}

.truth-table th,
.truth-table td {
	width: 25%;
	text-align: center;
}

.truth-table th:nth-child(2),
.truth-table td:nth-child(2) {
	border-right: 1px solid #ddd;
}

.relation-table th:first-child,
.relation-table td:first-child {
	width: 350px;
}

.relation-table th:nth-child(2),
.relation-table td:nth-child(2) {
	width: 200px;
}

.well > ul, .well > ol, .well > table {
	margin-bottom: 0;
}

.well > p {
	margin-bottom: 8px;
}

.example {
	padding: 0 0 0 15px;
	margin: 30px 0;
	border-left: 5px solid #bce8f1;
}

.svg-well {
	margin: 0 auto 20px;
	width: 350px;
}

svg.static {
	background: none;
	border-radius: none;
}

svg.static * {
	cursor: default;
}

.wffs > div {
	display: inline-block;
	width: 33%;
	text-align: center;
}

.indent {
	margin-left: 10px;
}

footer {
	margin: 75px 0 25px;
	text-align: center;
	font-size: 13px;
}

#link-dialog.in {
	top: 302px;
}

#link-dialog .modal-header {
	background-color: #f7f7f7;
	border-radius: 5px 5px 0 0;
}

#link-dialog input {
	width: 516px;
	background-color: #fff;
	cursor: default;
}

.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
	float:right;
}

.dropdown-content {
	display: none;
	position: fixed; /*evita overflow*/
	transform: translate(0, 0);
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1000;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}


.eval-buttons{
	display:flex;
	flex-wrap: wrap;
	background:red;
}

.atom-button, .monadic-button, .modal-button {}
.diadic-button, .agent-button {display:none}




