svg{
    /*background:gray;*/
    display: block;
    margin: auto;
}

/* Nodes */
.node circle{
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text{ 
	font: 12px sans-serif;
	background-color: #fff;
}


/* Links */
.link{
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

