svg{
    /*background:gray;*/
    display: block;
    margin: auto;
}

/* Nodes */
.node circle{
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text{ 
	font: 12px sans-serif;
	background-color: #fff;
}


/* Links */
.link{
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


.close-leaf{
    fill: Red;
}

.open-leaf{
    fill: Green;
}

#app-body {
	border: 2px solid #ddd;
	border-radius: 4px;
	margin:100px;
	display:flex;
	/* align-content:stretch; */
}

#tab-content{
	width:15%;
	padding: 10px;
	background-color:#ddd
}

.eval-input{
	margin-bottom: 15px;
}

.eval-input input {
	width: 100%;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	border: 1px solid #ddd;
	padding: 10px;
	margin-bottom: 10px;
}

#tree-container{
	width:85%;
	height:100%;
}

